.pos{
    background-color:#5e068a;
    color: white;
    height: 40px;
    
}
.sruthione{
    margin-top: 2%;
}
.sruthitwo{
    margin-left: 250px;
    margin-top: 2%;
}
.sruthimage{
    margin-left: 40px;
}
.navbar-brand{
    font-size: px;
    color: #2d3e50;
    font-weight: 500px;

}
.head{
    margin-left: -45%;
}
.myrow{
    color: indigo;
     margin-left: 23%;
}
.org{
    color: mediumpurple;
    margin-left: 3%;
}
.f1{
    margin-left: 5%;
    text-align: justify;
}
.button-default {
    padding: 16px 27px;
    font-weight: 600;
   position: absolute;
   top: 65%;
   left: 3%;
    border-radius: 50px;
    border: 2px solid #5e068a;
    background-color:#5e068a ;
    color: white;
}