body{
    background-color:skyblue;
}
.headone{
    color:teal;
    font-weight:bold;
    text-align: center;
    text-decoration: underline;
}
div{
    border: 1px solid white;
    width: 33%;
    float: left;
    background-color: cadetblue;
    height: 500px;
   
}
img{
    width: 80%;
    height: 400px;
   
}

.price{
    font-size: 12px;
}